.nav-bar
   {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 5px;
   }
   .navbar-wrap
{
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  padding: 5px;
}
.child1
{
  color:black;
}
